<div class="container">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <h2>Please sign in</h2>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">User</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="name" placeholder="Username" ng-model="$ctrl.user.name" required autofocus />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">Password</label>
      <div class="col-sm-4">
        <input class="form-control" type="password" id="password" placeholder="Password" ng-model="$ctrl.user.password" required />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 checkbox">
        <label><input type="checkbox" id="rememberme" value="true" ng-model="$ctrl.user.rememberme">Remember me</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <button class="btn btn-default" type="submit" ng-click="$ctrl.login()">Sign in</button>
      </div>
    </div>
  </form>
</div>